.suggestions-div{
    position: absolute;
    right: -2px;
    width: 255px;
    top: 20px;
    overflow-y: auto;
    max-height:300px ;
    border: 2px solid #d8dada;
    background-color: white;
    border-radius: 7px;
    z-index: 2;
}
.large{
    font-size: xx-large;
    color:lightgray;
    margin-right: 15px;
}

a{
    text-decoration: none;
}