/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.foll-div{
    position: fixed;
    top: 20%;
    left: 40%;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius:10px;
    display: flex;
    flex-direction: column;
}

.avatar{
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 50%;
}

.smallAvatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 20px 0 0 ;
}
.customModal{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}